/*ESTILOS GENERALES*/
* {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'PESTARA';
}
p{
    font-family: 'Overlock';
}


/*.................................................Encabezado..................................................*/

/*.................................................Generales...................................................*/
.justifica_Enca{
    display: flex;
    justify-content: center;
    align-items: center;
}
.padEn{
    padding: 10px;
    position: sticky;
    z-index: 1000;
    background-color: white;
    top: 0;
    left: 0;
}
.BordeEn{
    border-bottom: 2px solid #332765;
}


/*.................................................Logo........................................................*/
.ImaLogo{
    width: 100%;
}


/*..............................................Botones menu...................................................*/
.justifica_Menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.BotonMenu{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1px;
    margin-right: 1px;
    background-color: none;
    border: none;
}


.BotonHome{
    width: 100%;
}
.contHome:hover{
    content: url("../images/barra_footer/BhomeH.png");
    width: 100%;
}


.BotonMulti{
    width: 100%;
}
.contMulti:hover{
    content: url("../images/barra_footer/BMultiH.png");
    width: 100%;
}


.BotonInge{
    width: 100%;
}
.contInge:hover{
    content: url("../images/barra_footer/BIngeH.png");
    width: 100%;
}


.BotonFunda{
    width: 100%;
}
.contFunda:hover{
    content: url("../images/barra_footer/BFundaH.png");
    width: 100%;
}




/*...............................................FOOTER..................................................*/

/*..............................................Generales................................................*/
.justifica_Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.marFooter{
    margin-top: 10px;
    margin-bottom: 0;
    padding: 25px;
    padding-bottom: 10px;
    background-color: #FDB743;
}

/*..............................................Primera caja.............................................*/
.marFooter1{
    padding: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid #332765;
}
.justifica_Footer1{
    display: flex;
    justify-content: center;
}
.CajaCoFooter{
    width: 30%;
    padding: 30px;
}

/*...................................................Logo.................................................*/
.ImglogoF{
    width: 80%;
}


/*................................................Contenidos..............................................*/
.TextTituloFooter1{
    text-align: center;
    color: #332765;
}
.Separa1{
    display: flex;
    justify-content: center;
    color: #332765;
}
.TextLiFooter{
    font-size: 1.1em;
}
.TextLiFooter1{
    list-style: none;
}
.linkAfooter{
    text-decoration:none;
    color: black;
    font-size: 1.1em;
}
.linkAfooter:hover{
    text-decoration:none;
    color:#6F67BC;
}

/*...............................................Iconos redes.............................................*/
.CajaImagenIcono{
    width: 100%;
}
.ImagenIcono{
    width: 25%;
    margin: 5px;
}
/*.............................................Derechos de autor...........................................*/
.DerechosCaja{
    display: flex;
    justify-content: center;
}
.DerechosCaja{
    display: flex;
    justify-content: center;
    width: 20%;
}
.DerechosText{
    font-size: 0.9em;
}




/*.................................................HOME........................................................*/


/*...........................................Banner Principal..................................................*/

/*..............................................Generales......................................................*/
.justifica_Banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.marBanner{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*............................................Contenido texto..................................................*/
.justifica_TextB{
    display: flex;
    justify-content: center;
    align-items: center;
}
.PadTextB{
    padding: 20px;
    margin: 25px;
}
.TamaFuente{
    font-size: 1.2em;
    text-align: center;
}
.TamaFuenteT{
    text-align: center;
    color: #332765;
}
.BotonBannerM{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1px;
    margin-right: 1px;
    background-color: transparent;
    border: none;
    width: 35%;
}
.BotonMH{
    width: 100%;
}
.BotonMH:hover{
    content: url("../images/HOME/iconos/BotonSmH.png");
    width: 100%;
}

.justifica_TextB1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.PadTextB1{
    padding: 35px;
}
.colorB1{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}


/*............................................Botones Carrusel.................................................*/
.BotonCam{
    width: 80%;
}

.fondoC1{
    background-image: url("../images/HOME/images/multi_ima.jpg");
    background-size: 100%;
    background-position: center;
    padding-bottom: 30px;
    padding-top: 30px;
}
.fondoC2{
    background-image: url("../images/HOME/images/Inge_ima.jpg");
    background-size: 100%;
    background-position: center;
    padding-bottom: 30px;
    padding-top: 30px;
}
.fondoC3{
    background-image: url("../images/HOME/images/Funda_image.jpg");
    background-size: 100%;
    background-position: center;
    padding-bottom: 30px;
    padding-top: 30px;
}


.BotonAn{
    position:absolute;
    top:0;
    bottom:0;
    z-index:1;
    display:flex;
    align-items:center;
    justify-content: center;
    width:7%;
    background:0 0;
    border:0;
    opacity:.5;
    transition:opacity .15s ease;
    left: 0;
}
.BotonAn:hover{
    opacity:.9
}

.BotonDes{
    position:absolute;
    top:0;
    bottom:0;
    z-index:1;
    display:flex;
    align-items:center;
    justify-content: center;
    width:7%;
    background:0 0;
    border:0;
    opacity:.5;
    transition:opacity .15s ease;
    right: 0;
}
.BotonDes:hover{
    opacity:.9
}

/*..............................................Contenidos...........................................*/

/*..............................................Generales............................................*/
.justifica_Conte{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.marConte{
    margin-top: 30px;
    margin-bottom: 30px;
}

/*...............................................Botones...............................................*/
.justifica_ConteB{
    display: flex;
    justify-content: center;
    align-items: center;
}
.BotonMedia{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    width: 25%;
}
.BotonMediaM{
    width: 100%;
}
.BotonMediaM:hover{
    width: 96%;
    margin: 5px;
}


/*..........................................Sobre el proyecto.............................................*/

/*...............................................Generales................................................*/
.justifica_Proye{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.marProye{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 25px;
    background-color: #6F67BC;
}


.justifica_Proye1{
    display: flex;
    justify-content: center;
}
.FondoProye{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}

.TextTituloProye{
    margin: 30px;
    color: #FDB743;
}

.CajaCoProye{
    width: 45%;
    margin: 30px;
    border-radius: 20px;
    overflow: hidden;
}
.CajaCoProye1{
    width: 45%;
    margin: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 20px;
    overflow: hidden;
}

.TextContProye{
    font-size: 1.2em;
    text-align: center;
}
.Image_Proyecto1{
    width: 100%;
}

/*...............................................Fin del HOME...........................................*/








/*..............................................La multimedia............................................*/



/*...........................................Titulo de la pagina.........................................*/

/*................................................Generales..............................................*/
.justifica_Titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.marTitulo{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.justifica_Titulo1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.marTitulo1{
    padding: 10px;
}

/*.................................................Textos..................................................*/
.TextoTitulo1{
    text-decoration:none;
    color: #332765;
}
.TextoTitulo1:hover{
    text-decoration:none;
    color:#6F67BC;
}
.TextoTitulo3{
    font-size: 1.1em;
}
.TextoTitulo2{
    color: #332765;
}




/*.........................................Definicion Multimedia.........................................*/

/*................................................Generales..............................................*/
.justifica_Definicion_Multi{
    display: flex;
    justify-content: center;
    align-items: center;
}
.marDefi_Multi{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #6F67BC;
}
.marDefi_Multi1{
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.justifica_Definicion_Multi1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*.................................................Temas................................................*/

.DefiTama{
    width: 60%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    overflow: hidden;
}
.DefiTama1{
    width: 40%;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
}
.DefiCaja{
    width: 100%;
}

.DefiCajaB{
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: auto;
}
.DefiCajaB1{
    display: flex;
    transition: transform 0.4s ease;
}
.DefiCajaBConten{
    min-width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
}

.Next{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1px;
    margin-right: 1px;
    background-color: transparent;
    border: none;
    width: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.Pre{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1px;
    margin-right: 1px;
    background-color: transparent;
    border: none;
    width: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.ButtonDefi1{
    width: 100%;
}
.ButtonDefi1:hover{
    content: url("../images/HOME/iconos/BotonAh.png");
    width: 100%;
}
.ButtonDefi2{
    width: 100%;
}
.ButtonDefi2:hover{
    content: url("../images/HOME/iconos/BotonDh.png");
    width: 100%;
}

.ImagenDefi{
    width: 100%;
}

.CajaDefiUnoA{
    color: #332765;
    padding-top: 15px;
}
.CajaDefiUnoB{
    padding: 15px;
}
.TextoDef1{
    font-size: 1.2em;
}





/*.........................................Tipos de formato Multimedia.......................................*/

/*................................................Generales..................................................*/
.justifica_TiposF_Multi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.marTiposF_Multi{
    margin-top: 10px;
    margin-bottom: 10px;
}
.justifica_TiposF_Multi1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.marTiposF_Multi1{
    padding: 10px;
}

/*............................................Contenido texto..................................................*/
.TextTituloTiposF{
    margin: 30px;
    color: #332765;
}

.justifica_TiposF_Multi_cajas{
    display: flex;
    justify-content: center;
    align-items: center;
}
.PadTiposF_Multi_cajas{
    padding: 20px;
    margin: 25px;
    height: 25em;
}

.TamCajaTipo{
    width: 30%;
}

.ImagenTM1{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.Gira{
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;

    width: 30%;
    height: 100%;
    margin: 15px;
}

/* Giro al pasar el mouse */
.Gira:hover{
    transform: rotateY(180deg);
}

.Gira1,.Gira2a,.Gira2b,.Gira2c,.Gira2d,.Gira2e,.Gira2f{
    backface-visibility: hidden;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
     width: 100%;
    height: 100%;
}

.Gira1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Gira2a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: rotateY(180deg);
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images/Multimedia/images/Texto.jpg");
    background-size: cover;
    background-color: #332765;
}
.Gira2b{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: rotateY(180deg);
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images/Multimedia/images/Sonido.jpg");
    background-size: cover;
    background-color: #332765;
}
.Gira2c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: rotateY(180deg);
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images/Multimedia/images/Video.jpg");
    background-size: cover;
    background-color: #332765;
}
.Gira2d{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: rotateY(180deg);
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images/Multimedia/images/Imagen.jpg");
    background-size: cover;
    background-color: #332765;
}
.Gira2e{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: rotateY(180deg);
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images/Multimedia/images/Animacion.jpg");
    background-size: cover;
    background-color: #332765;
}
.Gira2f{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: rotateY(180deg);
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images/Multimedia/images/Grafico.jpg");
    background-size: cover;
    background-color: #332765;
}
.CajaTtitulo{
    color: #332765;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
}
.CajaTtexto{
    font-size: 1.1em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
}


/*............................................Botones Carrusel.................................................*/

.BotonAnTipos{
    position:absolute;
    top:0;
    bottom:0;
    z-index:1;
    display:flex;
    align-items:center;
    justify-content: center;
    width:7%;
    background:0 0;
    border:0;
    opacity:.5;
    transition:opacity .15s ease;
    left: 0;
}
.BotonAnTipos:hover{
    opacity:.9
}

.BotonDesTipos{
    position:absolute;
    top:0;
    bottom:0;
    z-index:1;
    display:flex;
    align-items:center;
    justify-content: center;
    width:7%;
    background:0 0;
    border:0;
    opacity:.5;
    transition:opacity .15s ease;
    right: 0;
}
.BotonDesTipos:hover{
    opacity:.9
}







/*......................................Caracteristicas de la Multimedia.....................................*/

/*................................................Generales..................................................*/
.justifica_Cara_Multi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.marCara_Multi{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}
.FondoCara{
    background-color: #6F67BC;
}
.FondoCara2{
    background-color: #FDB743;
}



/*................................................Titulo..................................................*/
.justifica_Cara_Multi1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.marCara_Multi1{
    padding: 10px;
}
.TextTituloCara{
    margin: 30px;
    color: #FDB743;
}
.TextTituloCara1{
    margin: 30px;
    color: #332765;
}

/*................................................Cajas contenidos..................................................*/
.justifica_Cara_Multi2{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.justifica_Cara_Multi3{
    display: flex;
    justify-content: center;

}
.CajaCara{
    width: 40%;
    margin: 20px;
    border-radius:20px;
    overflow: hidden;
}
.CajaCara1{
    width: 40%;
    margin: 20px;
    padding: 10px;
    background-color:  rgba(255, 255, 255, 0.5);
    border-radius:20px;
}
.CajaCara2{
    width: 40%;
    margin: 20px;
    padding: 10px;
    background-color:  rgba(117, 109, 189, 0.5);
    border-radius:20px;
}
.Imacara{
    width: 100%;
}
.lineaCara{
    border-bottom: 2px solid #332765;
}


/*................................................Cajas texto..................................................*/
.CajaCaratitulo{
    color: #332765;
    padding: 10px;
}
.CajaCaratexto{
    font-size: 1.1em;
    text-align: center;
    padding: 10px;
}





/*..........................................Tipologias Mulrimedia...........................................*/

/*................................................Generales..................................................*/
.justifica_Gias_Multi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.marGias_Multi{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

/*................................................Titulo..................................................*/
.justifica_Gias_Multi1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.marGias_Multi1{
    padding: 10px;
}
.TextTituloGias{
    margin: 30px;
    color: #332765;
}


/*................................................Caja carrusel..................................................*/
.GiaCaja{
    padding: 20px;
    background-color: #FDB743;
}
.GiaCaja2{
    padding: 20px;
    background-color: #6F67BC;
}

/*................................................Caja carrusel contenido..................................................*/
.justifica_Gias_Multi2{
    display: flex;
    justify-content: center;
}
.justifica_Gias_Mult3{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.CajaGiasC{
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius:20px;
    overflow: hidden;
}
.CajaGiasC1{
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    border-radius:20px;
    background-color:  rgba(255, 255, 255, 0.5);
}
.ImageGias{
    width: 100%;
}
.TextTituGias{
    color: #332765;
}
.GiasTitulo{
    color: #332765;
    padding: 10px;
    border-bottom: 2px solid #332765;
}
.GiasTexto{
    font-size: 1.1em;
    text-align: center;
    padding: 10px;
}



/*..........................................Tipologias Multimedia...........................................*/

/*................................................Generales..................................................*/
.justifica_Fase_Multi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.marFase_Multi{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

/*................................................Titulo..................................................*/
.justifica_Fase_Multi1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.marFase_Multi1{
    padding: 10px;
}
.TextTituloFase{
    margin: 20px;
    color: #332765;
}

/*................................................Video..................................................*/
.videoMulti{
    border-radius:20px;
    overflow: hidden;
    border: 2px solid #332765;
}







/*..............................................El Ingeniero............................................*/



/*...........................................Contenido de botones.........................................*/

/*................................................Generales..............................................*/
.justifica_Campos_Inge{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.marCampos_Inge{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.FondoCampos{
    background-color: #6F67BC;
}

/*................................................Titulo..............................................*/
.justifica_Campos_Inge1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.marCampos_Inge1{
    padding: 10px;
}
.TituloCampos{
    margin: 20px;
    color: #FDB743;
}

/*................................................Botones navegacion..............................................*/
.botonCampo{
    list-style: none;
    padding: 10px;
}
.BotonCampo1{
    width: 15%;
}
.BotonCampo2{
    width: 17%;
}
.CajaCam{
    margin-top: 20px;
}
.radioCam{
    border-radius: 20px 20px 0px 0px;
    background-color: white;
}

.BotonCajaTag{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1px;
    margin-right: 1px;
    background-color: transparent;
    border: none;
}

.BotonCajaTag_ani{
    width: 100%;
}
.BotonCajaTag_ani:hover{
    content: url("../images/Multimedia/iconos/AniH.png");
    width: 100%;
}

.BotonCajaTag_apli{
    width: 100%;
}
.BotonCajaTag_apli:hover{
    content: url("../images/Multimedia/iconos/ApliH.png");
    width: 100%;
}

.BotonCajaTag_mark{
    width: 100%;
}
.BotonCajaTag_mark:hover{
    content: url("../images/Multimedia/iconos/MarkH.png");
    width: 100%;
}

.BotonCajaTag_vide{
    width: 100%;
}
.BotonCajaTag_vide:hover{
    content: url("../images/Multimedia/iconos/VideH.png");
    width: 100%;
}

.BotonCajaTag_edu{
    width: 100%;
}
.BotonCajaTag_edu:hover{
    content: url("../images/Multimedia/iconos/EduH.png");
    width: 100%;
}


/*................................................Contenido Campos..............................................*/
.justifica_Campos_Co{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.justifica_Campos_Co1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.FondoCampos1{
    background-color:  rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 20px 20px ;
}
.CajaCoCamp{
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    background-color:  rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}
.CajaCoCamp1{
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    overflow: hidden;
}
.ImaCoCamp{
    width: 100%;
}
.CampoTitulo{
    color: #332765;
    padding: 10px;
    border-bottom: 2px solid #332765;
}
.CampoTexto{
    font-size: 1.1em;
    text-align: center;
    padding: 10px;
}